@import "../../style.scss";

.MainContainer {
    color: $textColor;
    margin-bottom: 50px;
    min-height: 100px;
    padding: 25px;
    max-width: 1100px;

    @include mediaScreenUnder($breakpointSm) {
        padding: 5px;
    }
}
