@import "../../style.scss";

$menuTransition: linear 200ms;

.Navbar {
    align-items: center;
    background-image: linear-gradient($backgroundColor 60%, transparent);
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    position: fixed;
    width: 100%;
    z-index: 1;

    > .socials {
        display: flex;
    }

    .menuEntry {
        color: $textColor;
        display: inline-block;
        margin: 0 1rem;
        text-decoration: none;

        &:hover {
            color: $primaryColor;
            font-weight: 700;
        }
    }

    .mobileMenu {
        display: none;
    }

    @include mediaScreenUnder($breakpointSm) {
        background-image: linear-gradient($backgroundColor 80%, transparent);
        padding: 5px;
        width: 100%;

        > .socials {
            display: none;
        }

        .menu {
            display: none;
        }

        .mobileMenu {
            border-radius: 0.4rem;
            color: $textColor;
            display: flex;
            height: 32px;
            margin-right: 0.5rem;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            transition: $menuTransition;
            width: 32px;

            &.open {
                background-color: transparentize(
                    $color: $primaryColor,
                    $amount: 0.8
                );
                color: $primaryColor;
            }

            .content {
                background-color: $backgroundColor;
                border: $backgroundAccentColor solid 1px;
                border-right: 0;
                border-radius: 0.5rem 0 0 0.5rem;
                box-shadow: $backgroundAccentColor 0 0.5rem 1rem;
                padding: 0.1rem;
                position: absolute;
                top: 3rem;
                right: -100%;
                transition: $menuTransition;

                > .socials {
                    display: flex;
                    justify-content: center;
                }

                .entries {
                    .menuEntry {
                        border: solid $backgroundAccentColor 1px;
                        border-radius: 0.3rem;
                        display: block;
                        margin: 0.3rem;
                        padding: 0.5rem 1rem;
                        text-align: right;

                        &:hover {
                            color: $textColor;
                            font-weight: initial;
                        }
                    }
                }
            }

            &.open .content {
                right: 0;
            }
        }
    }
}
