@import "../../style.scss";

$transition: linear 100ms;

.Link {
    background-color: $backgroundColor;
    border: $backgroundAccentColor solid 1px;
    border-radius: 5px;
    box-shadow: $backgroundAccentColor 0 3px 5px;
    display: inline-block;
    margin-right: 1rem;
    transition: $transition;

    a {
        color: $primaryColor;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem 0.3rem;
        text-decoration: none;
        transition: $transition;

        svg {
            margin-right: 5px;
            width: 1rem;

            path {
                fill: $primaryColor;
                transition: $transition;
            }
        }
    }

    &:hover {
        background-color: $primaryColor;
        transition: $transition;

        a {
            color: $textColor;
            transition: $transition;

            svg path {
                fill: $textColor;
            }
        }
    }
}
