@import "../../style.scss";

$transition: linear 100ms;

.SocialIcon a {
    border-radius: 10px;
    display: inline-block;
    margin: 0 6px;
    padding: 6px;
    transition: $transition;

    > svg {
        display: block;
        width: 2rem;

        path {
            fill: $primaryColor;
            transition: $transition;
        }
    }

    &:hover {
        background-color: $primaryColor;
        transition: $transition;

        > svg path {
            fill: $textColor;
            transition: $transition;
        }
    }
}
